:root {
    --clr-white: #ffffff; 
    --clr-black: #000000; 

    --clr-Primary: #181D26; 
    --clr-Secondary: #F2668B; 
    --clr-Conplementary1: #4214A6; 
    --clr-Complementary2: #DC30F2; 
    --clr-Complementary3: #741BF2; 

    --clr-Extra: #11BFAE; 
    --clr-Extra2: #0DA6A6; 
    --clr-Extra3: #2D5559; 

    --font-size-small: 1.2rem; 
    --font-size-medium: 1.5rem; 
    --font-size:tall: 1.8rem; 
    --font-size-tittle: 2.4rem; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body {
    font-family: 'Rubik', sans-serif;
}

/* header { */
/*     width: 100%; */
/*     height: 8rem; */
/* } */
.navBar {
    width: 100%;
    height: 8vh;
    background-color: var(--clr-Primary);
    padding: 0.5rem calc((100vw - 1200px) / 2); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar__logo {
    font-size: var(--font-size-tittle);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--clr-Complementary3);
}
.navBar__link {
    color: var(--clr-white);
    text-decoration: none;
    padding: 2rem 1rem;
    font-size: var(--font-size-small);
}
.navBar__link:hover {
color: var(--clr-Extra);
}

               /*Hero Section*/
.hero {
    background:linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/img/one.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    padding: 0.5ren calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero__content {
    color: var(--clr-white);
    padding: 3rem 1rem;
    line-height: 1;
}
.hero__content h1 {
    font-size: clamp(3rem, 8vh, 7rem);
}